<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles-search.css' %}">
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/fonts/icomoon/style.css' %}" />
    <title>Página de Búsqueda</title>
  </head>
  <body>
    <main class="search__container">
      <aside class="lateral__menu">
        Menú lateral
      </aside>
      <section class="search__main">
        <div class="search__header">
          <div class="search__header-input">
            <span>
              <i class="icon-circle-left"></i>
            </span>
            <span>
              <i class="icon-circle-right"></i>
            </span>
            <div class="input-container">
              <span class="search-icon">
                <i class="icon-search"></i>
              </span>
              <input
                type="text"
                name=""
                id=""
                placeholder="Buscar Artistas, canciones o podcasts"
              />
            </div>
          </div>
          <div class="search__header--img">
            <img src="{% static 'images/foto andres.jpg' %}" alt="" />
            <span>Javier</span>
            <span>
              <i class="icon-circle-down"></i>
            </span>
          </div>
        </div>
        <div class="search__genres--title">
          <h2>Tus géneros más escuchados</h2>
        </div>
        <div class="search__genres--container">
          <div class="genres card-1">
            <h1>Rock</h1>
            <div class="genres__cover">
              <img
                src="https://pbs.twimg.com/media/C_DyMVQWsAASnMK.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="genres card-2">
            <h1>Top Hits</h1>
            <div class="genres__cover">
              <img
                src="https://pbs.twimg.com/media/EUHdBGGWsAAmh4O.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="genres card-3">
            <h1>Indie / Alternativa</h1>
            <div class="genres__cover">
              <img
                src="https://pbs.twimg.com/media/CwcT0S9VQAALQ-_.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="genres card-4">
            <h1>Latina</h1>
            <div class="genres__cover">
              <img
                src="https://pbs.twimg.com/media/DmgH4ZAXgAE24Sd.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="search__genres--subtitle">
          <h3>Explorar todo</h3>
        </div>
        <div class="search__explore--container">
          <div class="explore all-card-1">
            <h3>Podcasts</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/D_CmtYRW4AEfghh.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="explore all-card-2">
            <h3>Especialmente para ti</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/CtcVNESWIAEYGWI.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="explore all-card-3">
            <h3>Lista de Éxitos</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/C_DyMVQWsAASnMK.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="explore all-card-4">
            <h3>Novedades</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/EUHdBGGWsAAmh4O.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="explore all-card-5">
            <h3>Descubrir</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/CwcT0S9VQAALQ-_.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="explore all-card-6">
            <h3>Black History Is Now</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/DmgH4ZAXgAE24Sd.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="explore all-card-7">
            <h3>En casa</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/CtcVNESWIAEYGWI.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="search__explore--container">
          <div class="explore all-card-1">
            <h3>Higher Ground</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/D_CmtYRW4AEfghh.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="explore all-card-2">
            <h3>Made in Colombia</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/CtcVNESWIAEYGWI.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="explore all-card-3">
            <h3>Bienestar</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/C_DyMVQWsAASnMK.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="explore all-card-4">
            <h3>Concentración</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/EUHdBGGWsAAmh4O.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="explore all-card-5">
            <h3>Pride</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/CwcT0S9VQAALQ-_.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="explore all-card-6">
            <h3>Relax</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/DmgH4ZAXgAE24Sd.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="explore all-card-7">
            <h3>Cumbia</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/CtcVNESWIAEYGWI.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="search__explore--container">
          <div class="explore all-card-1">
            <h3>Estado de Ánimo</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/D_CmtYRW4AEfghh.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="explore all-card-2">
            <h3>Para dormir</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/CtcVNESWIAEYGWI.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="explore all-card-3">
            <h3>Ejercicio</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/C_DyMVQWsAASnMK.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="explore all-card-4">
            <h3>Regional Mexicana</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/EUHdBGGWsAAmh4O.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="explore all-card-5">
            <h3>¡Fiesta!</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/CwcT0S9VQAALQ-_.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="explore all-card-6">
            <h3>Creadores de Tendencias</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/DmgH4ZAXgAE24Sd.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="explore all-card-7">
            <h3>Décadas</h3>
            <div class="explore__cover">
              <img
                src="https://pbs.twimg.com/media/CtcVNESWIAEYGWI.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="player">
      Player
    </footer>
  </body>
</html>
