<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/overview-page.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />
    <title>Vista General de la Cuenta - Spotify</title>
  </head>
  <body>
    <!-- Header start ****   -->
    <header class="header">
      <div class="container__nav">
        <div class="nav__logo">
          <a href="{% url 'users:feed' %}">
            <img
              src="{% static 'images/Spotify_Logo_RGB_White.png' %}"
              alt="Logo Spotify"
            />
          </a>
        </div>
        <nav class="nav__contain">
          <ul>
            <li>Premium</li>
            <li>Ayuda</li>
            <li>Descargar</li>
            <li>|</li>
            <li>
              {% if user.picture %}
              <img src="{{ user.picture.url }}" alt="Profile picture" />
              {% else%}
              <img
                src="{% static 'images/default-profile.png' %}"
                alt="Profile picture"
              />
              {% endif %}
            </li>
            <li>
              <a target="_blank"
                >Perfil
                <i class="icon-circle-down"></i>
              </a>
              <div class="services-submenu">
                <div class="submenu-items">
                  <a href="{% url 'users:logout' %}" type="submit"
                    >Cerrar Sesión</a
                  >
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- Header end ****   -->

    <!-- menu account start ****   -->
    <main class="account__container">
      <aside class="account__container--menu">
        <div class="account__photo">
          {% if user.picture %}
          <img src="{{ user.picture.url }}" />
          {% else%}
          <img src="{% static 'images/default-profile.png' %}" />
          {% endif %}
        </div>
        <div class="account__blocks">
          <span class="account__blocks--line"></span>
          <div class="account__blocks--item">
            <span class="account__blocks--icon icon-home"></span>
            <p>Vista general de la cuenta</p>
          </div>
        </div>
        <div class="account__blocks">
          <span class="account__blocks--line"></span>
          <div class="account__blocks--item">
            <span class="account__blocks--icon icon-pencil"></span>
            <p>Editar perfil</p>
          </div>
        </div>
        <div class="account__blocks">
          <span class="account__blocks--line"></span>
          <div class="account__blocks--item">
            <span class="account__blocks--icon icon-lock"></span>
            <p>Cambiar contraseña</p>
          </div>
        </div>
        <div class="account__blocks">
          <span class="account__blocks--line"></span>
          <div class="account__blocks--item">
            <span class="account__blocks--icon icon-bell"></span>
            <p>Configuración de notificaciones</p>
          </div>
        </div>
        <div class="account__blocks">
          <span class="account__blocks--line"></span>
          <div class="account__blocks--item">
            <span class="account__blocks--icon icon-lock"></span>
            <p>Configuración de privacidad</p>
          </div>
        </div>
        <div class="account__blocks">
          <span class="account__blocks--line"></span>
          <div class="account__blocks--item">
            <span class="account__blocks--icon icon-spinner11"></span>
            <p>Recuperar playlist</p>
          </div>
        </div>
        <div class="account__blocks">
          <span class="account__blocks--line"></span>
          <div class="account__blocks--item">
            <span class="account__blocks--icon icon-coin-dollar"></span>
            <p>Recibos</p>
          </div>
        </div>
        <div class="account__blocks">
          <span class="account__blocks--line"></span>
          <div class="account__blocks--item">
            <span class="account__blocks--icon icon-mobile"></span>
            <p>Apps</p>
          </div>
        </div>
        <div class="account__blocks">
          <span class="account__blocks--line"></span>
          <div class="account__blocks--item">
            <span class="account__blocks--icon icon-magic-wand"></span>
            <p>Utilizar</p>
          </div>
        </div>
      </aside>
      <!-- menu account end ****   -->

      <!-------- account description start  ---------->
      <section class="account__description">
        <h1 class="account__description--title">
          Vista general de la cuenta
        </h1>
        <div class="account__description--profile">
          <h1>Perfil</h1>
        </div>
        <div class="account__description--profile-item">
          <!-------- Fix this section need stay into a form  ---->
          <form
            action="{% url 'users:update' user.username %}"
            method="POST"
            enctype="multipart/form-data"
          >
            {% csrf_token %}

            <div class="account__description--profile-item">
              <label>Foto de perfil </label>
              {% if user.picture %}
              <img src="{{ user.picture.url }}" />
              {% else%}
              <img
                src="{% static 'images/default-profile.png' %}"
                class=""
                height="50"
              />
              {% endif %}
              <p>
                <input type="file" name="picture" />
              </p>
            </div>

            <div class="account__description--profile-item">
              <label>Primer Nombre</label>
              <div class="item-input">
                <input
                  type="text"
                  name="first_name"
                  placeholder="First name"
                  value="{% if form.errors %}{{ form.first_name.value }}{% else %}{{ user.first_name }}{% endif %}"
                />
                <div class="">
                  {% for error in form.first_name.errors %} {{ error }}
                  {%endfor%}
                </div>
              </div>
            </div>

            <div class="account__description--profile-item">
              <label>Apellidos</label>
              <div class="item-input">
                <input
                  class=""
                  type="text"
                  name="last_name"
                  placeholder="Last name"
                  value="{% if form.errors %}{{ form.last_name.value }}{% else %}{{ user.last_name }}{% endif %}"
                />
                <div class="">
                  {% for error in form.last_name.errors %} {{ error }}
                  {%endfor%}
                </div>
              </div>
            </div>

            <div class="account__description--profile-item">
              <label>Fecha de Nacimiento <small>(aaaa-mm-dd)</small></label>
              <div class="item-input">
                <input
                  class=""
                  type="text"
                  name="birthday"
                  placeholder="Birthday"
                  value="{% if form.errors %}{{ form.birthday.value }}{% else %}{{ user.birthday }}{% endif %}"
                />
                <div class="">
                  {% for error in form.birthday.errors %} {{ error }}
                  {%endfor%}
                </div>
              </div>
            </div>

            <div class="account__description--profile-item">
              <label>País</label>
              <div class="item-input">
                <input
                  class=""
                  type="text"
                  name="country"
                  placeholder="Country"
                  value="{% if form.errors %}{{ form.country.value }}{% else %}{{ user.country }}{% endif %}"
                />
                <div class="">
                  {% for error in form.country.errors %} {{ error }} {% endfor%}
                </div>
              </div>
            </div>
            <button type="submit" class="button__outline">Update info</button>
          </form>
        </div>

        <div class="account__description--plan">
          <h1>Tu plan</h1>
        </div>
        <div class="account__description--plan-container">
          <div class="account__description--plan-type">
            <h1>Spotify Free</h1>
          </div>
          <p>Escucha música solo en modo aleatorio y con anuncios.</p>
          <h2>Gratis</h2>
        </div>
        <a href="#" class="button__outline--plan" type="submit"
          >Unirte a premium</a
        >
        <div class="account__description--session">
          <h1>Cierra sesión en cualquier parte</h1>
          <p>
            Cierra sesión donde sea que tengas Spotify abierto, es decir, en el
            sitio web, en tu celular, en tu computadora o en cualquier otro
            dispositivo.
          </p>
        </div>
        <div class="account__description--session-info">
          <p>
            Importante: Esto no incluye dispositivos de socios, como Sonos y
            PlayStation. Para obtener más información sobre cómo cerrar tu
            sesión (o desvincular tu cuenta) de Spotify en un dispositivo
            fabricado por uno de nuestros socios, consulta el manual del
            fabricante del dispositivo.
          </p>
        </div>
        <a
          href="{% url 'users:logout' %}"
          class="button__outline--session"
          type="submit"
          >Cierra sesión en todas partes</a
        >
      </section>
    </main>
    <!------- account description end  -------->
    <!---------------- footer start  ------------------------>
    <footer class="footer">
      <div class="footer__container">
        <div class="footer__margin--top"></div>
        <div class="footer__logo">
          <a href="https://open.spotify.com/">
            <img
              src="{% static 'images/Spotify_Logo_RGB_White.png' %}"
              alt=""
            />
          </a>
        </div>
        <div class="footer__title--one">
          <p>compañía</p>
        </div>
        <div class="footer__company">
          <div class="footer__company--item">
            <ul>
              <li>Acerca de</li>
              <li>Empleo</li>
              <li>For the record</li>
            </ul>
          </div>
        </div>
        <div class="footer__title--two">
          <p>comunidades</p>
        </div>
        <div class="footer__communities">
          <div class="footer__communities--item">
            <ul>
              <li>Servicios para artistas</li>
              <li>Desarrolladores</li>
              <li>Marcas</li>
              <li>Inversionistas</li>
              <li>Proveedores</li>
            </ul>
          </div>
        </div>
        <div class="footer__title--three">
          <p>Enlaces útiles</p>
        </div>
        <div class="footer__links">
          <div class="footer__links--item">
            <ul>
              <li>Ayuda</li>
              <li>Reproductor Web</li>
              <li>App móvil gratis</li>
            </ul>
          </div>
        </div>
        <div class="footer__social">
          <div class="footer__social--icons">
            <i class="icon-instagram icons-circle"></i>
            <i class="icon-twitter icons-circle"></i>
            <i class="icon-facebook icons-circle"></i>
          </div>
        </div>
        <div class="footer__disclaimer">
          <div class="footer__disclaimer--items">
            <ul>
              <li>Legal</li>
              <li>Centro de Privacidad</li>
              <li>Política de Privacidad</li>
              <li>Cookies</li>
              <li>Sobre los anuncios</li>
            </ul>
          </div>
        </div>
        <div class="footer__country">
          <div class="footer__country--item">
            <ul>
              <li>
                Colombia
                <span
                  ><img src="https://country-flags.scdn.co/flags/co.svg" alt=""
                /></span>
              </li>
              <li>© 2020 Spotify AB</li>
            </ul>
          </div>
        </div>
        <div class="footer__margin--bottom"></div>
      </div>
    </footer>
    <!---------------- footer end ------------------------>
  </body>
</html>
