{% extends "base.html" %}

{% block head_content %}
    <title>Search</title>
  {% load static %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock%}

{% block container %}
<br>
  <div class="search__container">
    <div class="search__container-title">
      <h5>Resultados de tu búsqueda</h5><br><br>
    </div>
    <div class="results__container">
      <div class="results__container-songs">
        <div class="results__container-title">
          <h3>Canción</h3><br>
        </div>
        <div class="results__container-item">
          <div class="results__item-cover">
            <img src="{{ track.image_url }}" alt="{{ track.title }}">
            <form method="POST" action="{% url 'playList:addTrack' track.title %}" >
              {% csrf_token %}
              <input type="submit" name="add" value="Agregar">
            </form><br><br><br>
          </div>
          <div class="results__item-details">
            <div class="track__item-title">{{ track.title }}</div>
            <div class="track__item-artist">{{ track.artist }}</div>
            <div class="track__item-album">{{ track.album }}</div>
            <div class="track__item-duration">{{ track.duration }}</div>
          </div>
        </div>
      </div><br><br>
      <div class="results__container-artist">
        <div class="results__container-title">
          <h3>Artista</h3><br>
        </div>
        <div class="results__container-item">
          <div class="results__item-cover">
            <img src="{{ artist.image_url }}" alt="{{ artist.artist }}">
          </div>
          <div class="results__item-details">
            <div class="artist__item-artist">{{ artist.artist }}</div>
            <div class="artist__item-genre">{{ artist.gene }}</div>
            <div class="artist__item-followers">{{ artist.followers }}</div>
            <div class="artist__item-popularity">{{ artist.popular }}</div>
          </div>
        </div>
      </div><br><br>
      <div class="results__container-albums">
        <div class="results__container-title">
          <h3>Álbum</h3><br>
        </div>
        <div class="results__container-item">
          <div class="results__item-cover">
            <img src="{{ album.image_url }}" alt="{{ album.name }}">
          </div>
          <div class="results__item-details">
            <div class="album__item-album">{{ album.name }}</div>
            <div class="album__item-artist">{{ album.artist }}</div>
            <div class="album__item-market">{{ album.market }}</div>
          </div>
        </div>
      </div><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>

{% endblock %}
