<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Music</title>
</head>
<body>
  <h1>4. El usuario puede realizar busquedas y el listado debe actualizarse con música relacionada con la búqueda</h1>
  <h2>4. Apartado de Búsquedas para que el usuario pueda buscar la música que le interesa escuchar</h2>

    <p>Search  track</p>
    <span style="background-color: olivedrab">{{ track }}</span>
    <p>Search  artist</p>
    <span style="background-color: olivedrab">{{ artist }}</span>
    <p>Search  album</p>
    <span style="background-color: olivedrab">{{ album }}</span>
</body>
</html>
