{% extends "base.html" %}
{% load static %}

{% block head_content %}
    <title>
        Hi!
    </title>
{% endblock  %}

{% block container %}

<div class="container">

    <div class="row justify-content-md-center">
        <div class="">
         <h1>Name: {{ data.username }}</h1>
         <h3>Age: {{ data.age }}</h3>
         <h3>Email : {{ data.email }}</h3>
         <h3>Phone Number : {{ data.phone }}</h3>
         <h3>Verified : {{ data.is_verified_account }}</h3>
         <h3>Picture : {{ data.picture }}</h3>
     </div>
      {{ data }}
    </div>
</div>

{% endblock %}
