<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />

    {% block head_content %}
    {% endblock%}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="icon" href=" {% static 'images/Platzi-master-logo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/styles-search.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />
    <meta name="theme-color" content="#563d7c" />
</head>

<body>
    <!-- ------------------------- Menú Lateral --------------------------- -->

    <div id="main">
      <div class="App">
        <div class="App__container">
          <div class="App__top-bar"></div>
            {% include "menuLateral.html" %}

          <!-- ------------------------- Footer - Player  --------------------------- -->

            {% include "footer.html" %}

          <!-- ------------------------- Area de Búsqueda  --------------------------- -->


                {% include "header.html" %}


                {% block container %}

                {% endblock %}

              </section>
            </main>
          </div>
        </div>
      </div>
    </div>
   <script src="https://use.fontawesome.com/6f8a610621.js"></script>

</body>
</html>
