{% load static %}

 <div class="App__now-playing-bar">
            <footer class="now-playing-bar-container">
              <div class="now-playing-bar">
                <div class="now-playing-bar__left">
                  <div class="now-playing">
                    <div class="now-playing-cover">
                      <div class="icon">
                        <img
                          src="https://i.scdn.co/image/091ac8bdc0daef64f7a6a984c602ddf51c9cb186"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="now-playing-details">
                      <div class="now-playing-title">
                        <a
                          href="{% url 'music:playMusic' %}"
                          class="now-playing-track-link"
                          >BitâKora 5: Marcas en tiempos de COVID, Elon Musk y
                          Bose.</a
                        >
                      </div>
                      <div class="now-playing-artist">
                        <a href="#">Nadia Molina</a>
                      </div>
                    </div>
                    <div class="now-playing-control">
                      <button
                        class="control-button fa fa-heart"
                        title="Guardar en Tus Me Gusta"
                      ></button>
                    </div>
                  </div>
                </div>
                <div class="now-playing-bar__center">
                  <div class="player-controls">
                    <div class="player-control__buttons">
                      <div class="control-button-wrapper">
                        <button class="control-button control-button-suffle">
                          <i class="fa fa-random"></i>
                        </button>
                      </div>
                      <div class="control-button-wrapper">
                        <button class="control-button control-button-back">
                          <i class="fa fa-step-backward"></i>
                        </button>
                      </div>
                      <div class="control-button-wrapper">
                        <button
                          class="control-button control-button-play control-button-circled"
                        >
                          <i class="fa fa-play"></i>
                        </button>
                      </div>
                      <div class="control-button-wrapper">
                        <button class="control-button control-button-forward">
                          <i class="fa fa-step-forward"></i>
                        </button>
                      </div>
                      <div class="control-button-wrapper">
                        <button class="control-button control-button-repeat">
                          <i class="fa fa-retweet"></i>
                        </button>
                      </div>
                    </div>
                    <div class="playback-bar">
                      <div class="playback-bar__progress-time">
                        6:50
                      </div>
                      <div class="progress-bar__progress">
                        <div class="middle-align progress-bar__bg">
                          <div class="progress-bar__fg_wrapper">
                            <div class="progress-bar__fg"></div>
                          </div>
                          <button
                            class="middle-align progress-bar__slider"
                            style="left: 50%;"
                          ></button>
                        </div>
                      </div>
                      <div class="playback-bar__progress-time">
                        65:27
                      </div>
                    </div>
                  </div>
                </div>
                <div class="now-playing-bar__right">
                  <div class="extraControls">
                    <div class="extraControls-list">
                      <div class="control-button-wrapper">
                        <button class="control-button">
                          <i class="fa fa-bars"></i>
                        </button>
                      </div>
                      <div class="extraControls-device">
                        <button class="control-button">
                          <i class="fa fa-desktop"></i>
                        </button>
                      </div>
                      <div class="extraControls-volumeBar">
                        <button class="control-button">
                          <i class="fa fa-volume-up"></i>
                        </button>
                        <div class="progress-bar__progress">
                          <div class="middle-align progress-bar__bg">
                            <div class="progress-bar__fg_wrapper">
                              <div class="progress-bar__fg"></div>
                            </div>
                            <button
                              class="middle-align progress-bar__slider"
                            ></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </footer>
          </div>
