{% load static %}

<div class="App__main-view">
            <main class="search__container">
              <section class="search__main">
                <div class="search__header">
                  <div class="search__header-input">
                    <span>
                      <i class="icon-circle-left"></i>
                    </span>
                    <span>
                      <i class="icon-circle-right"></i>
                    </span>
                    <form method="GET" action="{% url 'music:search' %}" >
                      <div class="input-container">
                        {% csrf_token %}
                          <button class="search-icon" type="submit" name="searcher">
                              <i class="icon-search"></i>
                          </button>
                        <input
                          type="text"
                          name="search"
                          id=""
                          placeholder="Buscar Artistas, canciones o podcasts"
                        />
                        </div>
                      </form>
                  </div>

                  <div class="search__header--img">
                    <a href="{% url 'users:update' user.username %}">
                      {% if user.picture %}
                      <img src="{{ user.picture.url }}" id="img-profile" />
                      {% else%}
                      <img
                        src="{% static 'images/default-profile.png' %}"
                        id="img-profile" />
                      {% endif %}
                      <span>{{ user.username }}</span>
                      <span> <i class="icon-circle-down"></i> </span
                    ></a>
                  </div>
                </div>
