:root {
    --color-black: #191414;
    --color-green: #1db954;
    --color-green-hover: #1ed760;
    --color-white: #ffffff;
    --color-passive: #939395;
    --color-passive-hover: #2f2f2f;
    --font-spotify: "Montserrat", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-spotify);
    color: var(--color-white);
}

p {
    font-size: 14px;
    line-height: 26px;
}


/*--------------* lateral menu and container * ---------------*/

.search__container {
    /* display: grid; */
    grid-template-columns: 232px 1fr;
    background-color: var(--color-black);
}

.lateral__menu {
    display: grid;
    position: fixed;
    place-content: center;
    width: 232px;
    height: 90vh;
    background: var(--background-account);
}


/*--------------* main search page  * ---------------*/

.search__main {
    grid-column-start: 2;
}


/*--------------* header search page  * ---------------*/

.search__header {
    display: flex;
    margin: 0 30px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.search__header-input {
    display: flex;
    align-items: center;
}

.search__header-input i {
    margin-right: 0.8em;
    font-size: 1.3em;
}

.search__header-input i:hover {
    cursor: pointer;
}

.input-container {
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    width: 20em;
    border-radius: 20px;
    padding: 5px;
}

.search-icon i {
    margin: 0 10px;
    text-align: center;
    color: var(--color-passive);
}

.input-container input {
    width: 28em;
    padding: 5px;
    border: none;
    outline: none;
    color: var(--color-black);
}

.search__header--img {
    display: flex;
    align-items: center;
    background: black;
    padding: 5px 5px;
    border-radius: 20px;
    font-weight: 600;
}

.search__header--img img {
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.search__header--img span {
    margin-right: 10px;
    font-size: 0.85em;
}

.search__header--img:hover {
    background: var(--color-passive-hover);
    cursor: pointer;
}


/*--------------* main search page // genres * ---------------*/

.search__genres--title h2 {
    margin-left: 30px;
    padding: 60px 0;
    font-size: 3em;
}


/*--------------* main search page // explore all * ---------------*/

.App__container {
    background-color: var(--color-black);
}

.search__explore--container {
    display: grid;
    grid-template-columns: 3% 3% 30% 25% 25% 10%;
    grid-column-gap: 15px;
    margin: 15px 30px 0px 30px;
    height: 100%;
    border-bottom: solid 1px #545252;
}

.table-title p {
    text-transform: uppercase;
    color: #969696;
}

.table-title i {
    color: #969696;
    font-size: 18px;
}

.table-content {
    display: grid;
    grid-template-columns: 3% 3% 30% 25% 25% 10%;
    grid-column-gap: 15px;
    margin: 0px 30px 0px 30px;
    padding: 15px;
    height: 100%;
    border-bottom: solid 1px #545252;
}

.table-content:hover {
    background: #545252;
}

.table-content:hover .play-icon {
    display: inline;
    font-size: 1.5em;
    cursor: pointer;
}

.table-content__text p {
    color: var(--color-white);
    cursor: pointer;
}

.table-content__text--like {
    /* text-align: center; */
    cursor: pointer;
}

.play-button {
    background-color: var(--color-green);
    color: var(--color-white);
    font-size: 12px;
    line-height: 1;
    border-radius: 500px;
    margin-left: 30px;
    margin-bottom: 50px;
    padding: 10px 20px 10px;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    max-width: 150px;
    text-transform: uppercase;
    white-space: normal;
    cursor: pointer;
}

.play-button:hover {
    background-color: var(--color-green-hover);
}

.play-icon {
    display: none;
}