* {
  box-sizing: border-box;
}
body {
  background-color: #191414;
}

body,
button,
input {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  color: #b3b3b3;
}

div,
ul,
li,
a {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #fff;
  opacity: 1;
  text-decoration: none;
}

#main {
  width: 100%;
  z-index: 0;
}

.navBar-link--active,
.navBar-link--active:focus,
.navBar-link--active:hover {
  color: #fff;
}

.App__container {
  display: grid;
  width: 100%;
  position: relative;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "nav-bar main-view main-view"
    "now-playing-bar now-playing-bar now-playing-bar";
  background-color: rgba(0, 0, 0, 0.8);
}


.App__nav-bar {
  display: flex;
  flex-direction: column;
  grid-area: nav-bar;
  background-color: rgba(0, 0, 0, 0.8);
  width: 232px;
  position: fixed;
  height: 90vh;
  z-index: 3;
}

.App__navBar-content {
  padding-top: 24px;
}

.logo {
  display: block;
  padding: 0 24px;
}

.logo img {
  width: 130px;
  margin-bottom: 18px;
}


.App__now-playing-bar {
  grid-area: now-playing-bar;
  position: fixed;
  bottom: 0;
  background-color: #181818;
  width: 100%;
  z-index: 4;
}

.App__main-view {
  grid-area: main-view;
  width: 100%;
  position: absolute;
  background-color: #191414;
}

/* Nav Bar */
.navBar-item {
  padding: 0 8px;
}

.navBar-link .icon,
.App__playlists .icon {
  margin-right: 16px;
  font-size: 24px;
}

.App__playlists .icon {
  font-size: 20px;
}

.navBar-link {
  border-radius: 4px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  height: 40px;
  color: #b3b3b3;
}

/* Nav Bar Playlist */

.App__playlists {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.App__playlists-header {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 24px;
}

.App__playlist-create button,
.App__playlist-likes a {
  color: #fff;
  opacity: 0.7;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 5px 24px;
  min-height: max-content;
  cursor: pointer;
  width: 100%;
}

.App__playlist-create button .icon,
.App__playlist-likes a .icon {
  background: #fff;
  width: 32px;
  height: 32px;
  padding: 4px;
  text-align: center;
}

.App__playlist-create button .icon {
  color: #000;
}

.App__playlist-likes a .icon {
  background: linear-gradient(135deg, #450af5, #c4efd9);
}

.App__list {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  min-height: 0;
  margin-top: 24px;
}

.App__lists-content {
  flex-direction: column;
  height: 100%;
}

.App__lists-divider {
  margin: 8px 24px;
  background-color: #222;
  border: none;
  height: 1px;
}

.App__lists_user {
  padding: 4px 0;
}

.App__lists_user .content {
  padding: 4px 0;
  direction: inherit;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  visibility: visible;
}

.listItem {
  padding: 0 24px;
  position: relative;
  height: 32px;
}

.listItem__link {
  color: #b3b3b3;
  flex: 1;
  justify-content: flex-start;
  height: 24px;
  line-height: 24px;
  border-bottom: none;
  overflow: hidden;
}

.listItem__text-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  height: 24px;
}

/* Nav Bar Download */

.App__download-item {
  background-color: #000;
}

.App__download-item .icon {
  font-size: inherit;
}

/* Now playing bar */

.now-playing-bar-container {
  min-width: 620px;
  background-color: #222;
  border-top: 1px solid #000;
  display: flex;
  flex-direction: column;
  height: auto;
}

.now-playing-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px;
  height: 90px;
}

.now-playing-bar__left {
  width: 30%;
  min-width: 180px;
}

.now-playing {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.now-playing-cover {
  width: 56px;
  height: 56px;
}

.now-playing-cover .icon {
  display: block;
}

.now-playing-cover .icon img {
  width: 100%;
}

.now-playing-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 14px;
  overflow: hidden;
}

.now-playing-track-link {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.now-playing-title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  color: #fff;
  text-align: left;
}

.now-playing-artist {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.015em;
  text-align: left;
}

.now-playing-artist a {
  color: #b3b3b3;
}

.now-playing-control {
  position: relative;
}

.control-button-wrapper {
  position: relative;
}

.control-button {
  background-color: transparent;
  border: none;
  color: #b3b3b3;
  width: 32px;
  min-width: 32px;
  height: 32px;
}

.control-button-circled::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 1px solid #b3b3b3;
}

.now-playing-bar__center {
  width: 40%;
  max-width: 722px;
}

.now-playing-bar__right {
  width: 30%;
  min-width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.player-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-control__buttons {
  display: flex;
  margin-bottom: 12px;
  width: 224px;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.playback-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.playback-bar__progress-time {
  min-width: 40px;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: normal;
  text-transform: none;
}

.progress-bar__progress {
  height: 12px;
  position: relative;
  width: 100%;
}

.middle-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.progress-bar__bg {
  background-color: #555;
  border-radius: 2px;
  display: flex;
  height: 4px;
  width: 100%;
}

.progress-bar__fg_wrapper {
  overflow: hidden;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.progress-bar__fg {
  background-color: #b3b3b3;
  border-radius: 2px;
  height: 4px;
  width: 100%;
  transform: translateX(-50%);
}

.progress-bar__slider {
  background-color: #fff;
  border: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  z-index: 100;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.extraControls {
  width: 180px;
}

.extraControls-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.extraControls-volumeBar {
  align-items: center;
  width: 136px;
  display: flex;
}

.input-container button {
  background-color: transparent;
  border: none;
}

/* Main view bar */

.search__container {
  margin: 0 32px;
}

.search__container-title {
  font-size: 3em;
}

.results__container-title {
  font-size: 2em;
}

.results__container-item {
  display: flex;
  background: #282828;
  padding: 20px;
  border-radius: 8px;
}

.results__item-cover {
  position: relative;
  width: 180px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0,0,0,.3), 0 1px 2px 0 rgba(0,0,0,.2);
  box-shadow: 0 10px 30px 0 rgba(0,0,0,.3), 0 1px 2px 0 rgba(0,0,0,.2);
}

.results__item-cover img {
  width: 100%;
  border-radius: 5px;
}

.results__item-cover form {
  position: absolute;
  bottom: 0;
  margin: 0 0 10px 10px;
}

.results__item-details {
  margin-left: 30px;
}

.track__item-title,
.artist__item-artist,
.album__item-album {
  font-size: 2em;
  line-height: 2;
}

.track__item-artist,
.artist__item-genre,
.album__item-artist {
  font-size: 1.2em;
}

.track__item-album,
.track__item-duration,
.artist__item-followers,
.artist__item-popularity,
.album__item-market {
  font-size: 0.8em;
}

.track__item-artist {
  color: #fff;
  background-color: rgba(0,0,0,.2);
  display: inline-block;
  padding: 4px 12px;
  border-radius: 500px;
}

/* Play page */

.play__container {
  margin-top: -60px;
}

.play__item-bg {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(142, 103, 115);
  top: 0px;
  left: 0;
  z-index: -1;
}

.play__container-album {
  display: flex;
  position: relative;
  padding: 0 32px 20px;
  height: 340px;
  color: #fff;
  overflow: hidden;
  background: linear-gradient(transparent,rgba(0,0,0,.5));
}

.play__item-cover {
  position: relative;
  align-self: flex-end;
  width: 232px;
}

.play__item-cover img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,.3), 0 1px 2px 0 rgba(0,0,0,.2);
}

.play__container-details {
  align-self: flex-end;
  margin-left: 20px;
}

.play__item-title h3 {
  margin: 0 0 10px;
  font-size: 0.8em;
  text-transform: uppercase;
}

.play__item-album {
  font-size: 4em;
  line-height: 2;
  font-weight: 900;
}

.play__item-artist {
  font-weight: 700;
}